.about{
    height: 100vh;
    width: 100%;
    position: relative;
}


/*171717
444444
DA0037
EDEDED
*/

.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.about-1, .about-2, .about-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.about-icon{
    font-size: 60px;
    color: #DA0037;
}
.about-text{
    font-weight: bold;
    font-size: 30px;
}

.about-description{
   padding-top: 30px;
    font-size: 18px;
}

.waves{
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.about-3{
    z-index: 2;
}

@media screen and (max-width: 700px) {
    .about{
        padding: 20px;
        height: fit-content;
    }
    .about-1 span{
        padding-top: 40px;
    }
}