.contact {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-bg{
   
    background-color: #DA0037;
    height: 100%;
    width: 50%;
    z-index: 100;
    position: absolute;
    z-index: -10;
    left: 0;
}

.contact-wrapper{
    height: 80vh;
    width: 40vw;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #8a8a8a;
    background-color: #EDEDED;
}
.contact-left, .contact-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-title{
    font-size: 30px;
    color: #EDEDED;
    margin-bottom: 20px;
}

.contact-icon{
    width: 60px;
    padding: 3px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    transition: 100ms ease-in-out;
}

.contact-icon:hover{
    cursor: pointer;
    transform: scale(1.05);
}

form{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}
input, textarea{
    padding: 10px;
}

input:focus, textarea:focus{
    outline: none;
    border: 2px solid #DA0037 ;
}

button{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #DA0037 ;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

button:hover{
    transform: scale(1.05);
}

.contact-subtitle{
    color:#DA0037
}

.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.modal-wrapper{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px #DA0037;
    animation: fade-in 1s ;
}

@keyframes fade-in {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .contact{
        flex-direction: column;
        height: fit-content;
        padding: 20px;
        background-color: white;
        color: #171717;
    }
    .contact-title{
        color: #171717;
    }

    .contact-right h2{
        border-top: 2px solid #DA0037;
        padding-top: 20px;
    }

    .contact-left{
        margin-top: 20px;
    }
}
/*171717
444444
DA0037
EDEDED
*/