.hero{
    background-color: #EDEDED;
    height: 100vh;
    width: 100%;
    display: flex;
}

.hero-left, .hero-right{
    flex: 1;
}

.hero-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left-wrapper{
    padding: 30px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-intro{
    font-size: 30px;
    font-weight: 600;
}

.hero-name{
    font-weight:bolder;
    font-size: 50px;
}



/*171717
444444
DA0037
EDEDED
*/

.hero-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.hero-right{
    position: relative;
}

.hero-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #DA0037;
    display: flex;
    align-items: center;
}

.hero-title{
    height: 50px;
    overflow: hidden;
}

.hero-img{
    object-fit: cover;
    position: absolute;
}

.hero-bg{
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: #DA0037;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
}

.head-description{
    font-size: 22px;
}

.head-description b {
    color:#DA0037;
}

.w{
    font-family: 30px;
    color:#444444;
    display: inline-block;
}
@media screen and (max-width: 700px) {
    .hero{
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-left-wrapper{
        height: fit-content;
        margin-top: 20%;
    }

    .hero-left{
        justify-content: space-between;
    }

}